<section>
  <p>Carrinho vazio</p>
  <button>Buscar Produtos</button>
</section>

<section>
  <h2>Carrinho</h2>

  <table>
    <thead>
      <tr>
        <td>Produto</td>
        <td>Quantidade</td>
        <td>Valor Total</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <img src="" alt="Produto" />
          <span>Nome do produto</span>
        </td>
        <td>
          <button>-</button>
          <span>1</span>
          <button>+</button>
        </td>
        <td>R$ 15,00</td>
        <td>
          <button>Remover</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h3>Resumo da Compra</h3>
  <ul>
    <li>Valor da Compra</li>
    <li>Valor do Frete</li>
    <li>Valor Total</li>
  </ul>
  <button>Comprar</button>
</section>
