footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1260px;
  width: 100%;
  padding: 20px;
  border-top: 2px solid #00953b;
  img {
    max-width: 200px;
    margin: 36px 0 24px;
  }
  ul {
    display: flex;
    list-style: none;
    gap: 48px;
    margin-bottom: 56px;
    li {
      a {
        color: #333333;
        transition: all 0.3s;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
  p {
    width: 100%;
    padding: 12px 0;
    font-size: 12px;
    border-top: 1px solid #ccc;
    text-align: center;
  }
}
