<div>Banner Carrossel</div>

<section class="mais-vendidos">
  <h2>Mais Vendidos da Semana</h2>
  <ul>
    <li><app-card-produto></app-card-produto></li>
    <li><app-card-produto></app-card-produto></li>
    <li><app-card-produto></app-card-produto></li>
    <li><app-card-produto></app-card-produto></li>
  </ul>
</section>

<section class="ofertas">
  <h2>Ofertas do Dia</h2>
  <ul>
    <li><app-card-produto></app-card-produto></li>
    <li><app-card-produto></app-card-produto></li>
    <li><app-card-produto></app-card-produto></li>
    <li><app-card-produto></app-card-produto></li>
  </ul>
</section>
