.detalhes {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 64px;
  margin-bottom: 48px;
  .left {
    h2 {
      font-size: 36px;
      margin-bottom: 16px;
    }
    p {
      margin-bottom: 12px;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
    .valores {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      span {
        font-size: 32px;
        font-weight: 600;
        color: rgba(53, 53, 53, 0.65);
        &.oferta {
          color: #b9b9b9;
          text-decoration: line-through;
          font-size: 20px;
        }
      }
    }
    button {
      background-color: #00953b;
      border: none;
      color: #ffffff;
      padding: 12px 36px;
      transition: all 0.3s;
      &:hover {
        background-color: #01712d;
      }
      &.esgotado {
        cursor: not-allowed;
        background-color: rgba(53, 53, 53, 0.65);
      }
    }
  }
}
.comentarios {
  h3 {
    font-size: 24px;
    margin: 24px 0;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    li {
      display: flex;
      gap: 24px;
      img {
        width: 64px;
        height: 64px;
        object-fit: cover;
      }
      p {
        font-style: italic;
        span {
          display: block;
          margin-top: 16px;
          font-weight: 600;
          font-style: normal;
        }
      }
    }
  }
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
  color: green;
}
swiper-container::part(bullet-active) {
  background-color: greenyellow;
}

swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper {
  height: 80%;
  width: 100%;
}

.mySwiper2 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper2 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
