<section>
  <div>Imagens</div>

  <div>
    <h2>Nome do Produto</h2>
    <p>Descrição do produto</p>
    <span>R$ 15,00</span>
    <button>Adicionar ao Carrinho</button>
  </div>
</section>

<section>
  <h3>Comentários:</h3>
  <ul>
    <li>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam neque
        deserunt, quos quibusdam qui fuga corrupti dolorum adipisci unde
        mollitia reiciendis laborum dolor, amet delectus, ipsum fugiat totam
        blanditiis cupiditate.
      </p>
      <span>Nome do Cliente</span>
    </li>
    <li>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam neque
        deserunt, quos quibusdam qui fuga corrupti dolorum adipisci unde
        mollitia reiciendis laborum dolor, amet delectus, ipsum fugiat totam
        blanditiis cupiditate.
      </p>
      <span>Nome do Cliente</span>
    </li>
    <li>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam neque
        deserunt, quos quibusdam qui fuga corrupti dolorum adipisci unde
        mollitia reiciendis laborum dolor, amet delectus, ipsum fugiat totam
        blanditiis cupiditate.
      </p>
      <span>Nome do Cliente</span>
    </li>
  </ul>
</section>
