<h2>Produtos</h2>

<p>
  Não foram encontrados produtos correspondentes ao termo digitado. Por favor,
  realize uma nova busca.
</p>

<ul>
  <li><app-card-produto></app-card-produto></li>
  <li><app-card-produto></app-card-produto></li>
  <li><app-card-produto></app-card-produto></li>
  <li><app-card-produto></app-card-produto></li>
  <li><app-card-produto></app-card-produto></li>
  <li><app-card-produto></app-card-produto></li>
  <li><app-card-produto></app-card-produto></li>
  <li><app-card-produto></app-card-produto></li>
</ul>
