* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "K2D", sans-serif;
}

body {
  background-color: #f6f3ed;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

button,
a {
  cursor: pointer;
}
